   body {
      font-family: 'Montserrat', sans-serif;
    }
      
    .navbar h4 {
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      margin: 10px;
    } 

    .navbar a,a:link,li a:visited {
      font-family: 'Montserrat', sans-serif;
      color: #ffffff;
      font-size: 1.5em;
      margin-left: 20px;
    } 

     .nav a:hover {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5em;
      margin-left: 20px;
    } 

     .nav a:active {
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5em;
      margin-left: 20px;
    }

    .container h1 {
      color: #0259a7;
    }

    .container h3 {
      color: #808080;
    }

    #link {
      margin-top: 1.4em;
      margin-bottom: 1.4em;
    }
    .permit {
      list-style-type: none;
      padding: 0
    }
    .permit li{
      line-height: 1.4em;
    }

    .navbar {
    background-color: #C0C0C0 ;
    } 

    .navbar h1 {
      font-family: 'Montserrat', sans-serif;
      color: #0259a7;
      margin: 10px;
    } 
    .span {
      font-family: 'Montserrat', sans-serif;
      color: #404040;
          margin: 0px
    }