body {
  font-family: 'Raleway', San Serif;
  min-height: 2000px;
  padding-top: 7em;
}

#mainnav {
  background-color: #FFF;
  border: none;
}

#customnav a {
  font-size: 3.5em;
  font-weight: 700;
  color: #0259A7;
  height: 1.5em;
}

#navbar a {
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 400;
  color: #888888;
  margin-left: 20px;
  line-height: 2.75em;
}

#navbar a:link, a:visited {
  color: #888888;
}

#navbar a:hover {
  color: #303030;
}

#navbar a:active {
  color: red;
}

#content h1 {
  font-weight: 700;
  margin-top:0px;

}